.crx_mouse_visited {
    background-clip: #bcd5eb!important;
    outline: 1px dashed #e9af6e!important;
}
iframe { width: 800px; height: 520px; border: 1px solid black; }
iframe { zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0; }
/* 
.box{
    display: none;
    width: 100%;
} */

/* a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
} */

#linky{
    position: absolute;
    /* padding: 100px;
    background-color: black;
    margin: 100px; */
}
#linky2{
    position: absolute;
    background-color: white;
    -moz-transform: scale(0.45, 0.45); 
    -webkit-transform: scale(0.45, 0.45); 
    -o-transform: scale(0.45, 0.45);
    -ms-transform: scale(0.45, 0.45);
    transform: scale(0.45, 0.45); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    /* padding: 100px;
    background-color: black;
    margin: 100px; */
}

#linky3{
    position: absolute;
    background-color: white;
    /* padding: 100px;
    background-color: black;
    margin: 100px; */
}

